.btnInscription-container {
  box-sizing: border-box;
  width: 24rem;
  height: 8rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.btnInscription-container.notInscribed {
  background: var(--Secondary_Color_BG_Dark_Colored);
  border: 4px solid var(--Primary_Color_BG_Ligth_Colored);
}

.btnInscription-container.inscribed {
  background: var(--Accept);
  border: 4px solid var(--Accept);
}

.btnInscription-container.pending {
  background: var(--Secondary_Color_BG_Dark_Colored);
  border: 4px solid var(--Primary_Color_BG_Ligth_Colored);
}

.btnInscription-container.notInscribed:hover {
  background: var(--Ligth_Colored_BG);
  transition: background 0.5s ease-in-out;
}

.btnInscription-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnInscription-info-container h1 {
  margin: 0;
}

.btnInscription-info-container.inscribed h1 {
  color: var(--Secondary_Color_BG_Dark_Colored);
}

.btnInscription-info-container.notInscribed h1 {
  color: var(--Primary_Color_BG_Ligth_Colored);
}

.btnInscription-info-container p {
  margin: 0;
}

.btnInscription-info-container.inscribed p {
  color: var(--Secondary_Color_BG_Dark_Colored);
}

.btnInscription-info-container.notInscribed p {
  color: var(--Primary_Color_BG_Ligth_Colored);
}

.not-inscribed-img-container {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  margin-left: 0;
}

.inscribed-img-container {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  margin-right: 1.5rem;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.btnInscription-text-container {
  margin-left: 1.5rem;
}
