.btnInscription-container {
  box-sizing: border-box;
  width: 24rem;
  height: 11rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btnInscription-container.notInscribed {
  background: var(--Secondary_Color_BG_Dark_Colored);
  border: 4px solid var(--Primary_Color_BG_Ligth_Colored);
}

.btnInscription-container.inscribed {
  background: var(--Accept);
  border: 4px solid var(--Accept);
}

.btnInscription-container.pending {
  background: var(--Secondary_Color_BG_Dark_Colored);
  border: 4px solid var(--Pending_Option_Color);
}

.btnInscription-container.notInscribed:hover {
  background: var(--Ligth_Colored_BG);
  transition: background 0.5s ease-in-out;
}

.btnInscription-info-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btnInscription-info-block h1 {
  margin: 0;
}

p {
  margin: 0.2rem;
}

.inscribed {
  color: var(--Secondary_Color_BG_Dark_Colored);
  fill: var(--Secondary_Color_BG_Dark_Colored);
}

.pending {
  color: var(--Pending_Option_Color);
  fill: var(--Primary_Color_BG_Ligth_Colored);
}

.notInscribed {
  color: var(--Primary_Color_BG_Ligth_Colored);
  fill: var(--Primary_Color_BG_Ligth_Colored);
}

.not-inscribed-img-container {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  margin-left: 0;
}

.inscribed-img-container {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  margin-right: 1.5rem;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.btnInscription-text-container {
  margin-left: 1.5rem;
}

#btnInscription-img.pending {
  filter: invert(53%) sepia(85%) saturate(1224%) hue-rotate(2deg)
    brightness(105%) contrast(85%);
}

#btnInscription-img.inscribed {
  filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(295deg)
    brightness(129%) contrast(122%);
}
