@media only screen and (max-width: 500px) {
  #competitions-main {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #competitions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 500px) {
  #competitions-main {
    font-family: sans-serif;
    width: 100%;
  }
  #competitions-container {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    padding-bottom: 3rem;
  }
}

.competition {
  padding-top: 3rem;
}
