:root {
    --main-bg-color: #2D5E72;
    --main-txt-color: #FEFEFE;
}

#passwordChange-screen {
    min-height: 100vh;
    min-width: 100vh;
    font-family: sans-serif;
}

 #password-form {
    color: var(--main-txt-color);
    margin: auto;
    margin-top: 8rem;
    width: 40rem;
    height: 33rem;
    border-radius: 1rem;
    align-content: space-between;
    background-color: var(--main-bg-color);
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#error-icon, #success-icon{
    position: absolute;
    color: rgb(143, 56, 56);
    bottom: 1.1rem;
    right: 37.6rem;
}

#error, #success {
    position: absolute;
    display: flex;
    align-items: center;
    background-color:#f1d7d2;
    color:rgb(150, 9, 9);
    height:4rem;
    width: 37rem;
    padding: .5rem 0 0 2rem;
    margin: -6rem 0 0 20.7rem;
    border-radius: 0 .5rem .5rem 0;
    border-left: .25rem solid rgb(150, 9, 9);
}

#success {
    position: absolute;
    color:rgb(18, 110, 53);
    background-color:#c9fbc4;
    border-left: .25rem solid rgb(18, 110, 53);
}

#success-icon {
    color: rgb(18, 110, 53);
}

.label-form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.box-form {
    width: 17rem;
    height: 2rem;
    border-radius: 1px;
    border: 0;
    border-radius: 3px;
    font-size: 1.5rem;
    padding-left:.5rem;
    margin-right: .5rem;
}

.submit-button {
    font-size: 1rem;
    width: 6rem;
    margin: 1em;
}

.show-password {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 1rem;
}

.icon {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 5px 0 0 3px;
}

#buttons-form {
    margin-right: 1.5em;
}