:root {
    --main-bg-color: #2D5E72;
    --main-txt-color: #FEFEFE;
}

#passwordChange-screen {
    min-height: 100vh;
    min-width: 100vh;
    font-family: sans-serif;
}

#password-form {
    color: var(--main-txt-color);
    margin: auto;
    margin-top: 8rem;
    width: 40rem;
    height: 33rem;
    border-radius: 1rem;
    align-content: space-between;
    background-color: var(--main-bg-color);
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.label-form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.box-form {
    width: 17rem;
    height: 2rem;
    border-radius: 1px;
    margin-top: 1rem;
    border: 0;
    border-radius: 3px;
}

.submit-button {
    font-size: 1rem;
    width: 6rem;
    margin: 1em;
}
