:root {
  --Dark_Colored_BG: #2d5e72;
  --Ligth_Colored_BG: #f8d417;
  --Primary_Color_BG_Ligth_Colored: #2d5e72;
  --Primary_Color_BG_Dark_Colored: #f8d417;
  --Secondary_Color_BG_Ligth_Colored: #1e1e1e;
  --Secondary_Color_BG_Dark_Colored: #fefefe;
  --Tertiary_Color_BG_Ligth_Colored: #4d4d4d;
  --Accept: #3c9e7e;
  --Decline: #ba5555;
  --Canceled_Option_Color: #c61e1e;
  --Pending_Option_Color: #ea9413;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--Secondary_Color_BG_Dark_Colored);
}

#top-bar-padding {
  height: 6.3rem;
}

#app-div {
  height: 100vh;
}

.main-screen {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 500px) {
  .only-mobile-devices {
    display: none;
  }
}
